In [1]:
import pandas as pd

In [6]:
csv = pd.read_csv('creds.csv')
csv

      f_name        l_name  roll_no      div  age
0  Chaitanya     Jaipurkar       34   Dahlia   13
1        Adi          Rane       11        A   11
2     Adwait          Dive       56    Pluto   12
3    Vishrut  Vaishampayan       48   Dahlia   13
4       Neel      Deshmukh       29  Jasmine   10
5    Samarth         Joshi       33      jas   11

### So, we have to now learn how to remove and add columns and rows!

##### Now let's create a column named 'full name' which will have the concatinated values of the f_name and the l_name respectively

In [ ]:
csv['']